@import url(https://fonts.googleapis.com/css?family=Open+Sans);

* {
    font-family: Open Sans, serif;
}

body {
    background-color: black;
    color: whitesmoke;
}

button {
    background-color: black;
    color: whitesmoke;
}

#center {
    margin: 0;
    position: absolute;
    top: 35%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#text {
    font-size: 13px;
    margin: 0;
    position: absolute;
    top: 69%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

#list {
    font-size: 13px;
    margin: 0;
    position: absolute;
    top: 75%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
